body, html{
	width: 100%;
	height: 100%;
	margin: 0px;
}

.container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 500px auto 50px;
}

.header{
	background-color: #0EBB3D;
	border-radius: 5px;
}

.containerh{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(10px, 20px));
	column-gap: 2px;
	align-content: center;
}

p {
	align-self: center;
	justify-self: center;
}

.p2{
	justify-self: end;
}

.p1{
	grid-column: -2/-1;
	justify-self: center;
	align-self: center;
}

.cover{
	display: flex;
	justify-content: center;
	align-items: center; 
	background-color: #C11E31;
	border-radius: 5px;
	text-align: center;
}

.content{
	background-color: #0B71BB;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

img {
	margin: 10px;
	width: 250px;
	height: 250px;
}

img:hover{
	box-shadow: 10px 10px 10px #FD5353;
}

.footer{
	background-color: #F76801;
	text-align: center;
}
